<h3><%= Evaluation.model_name.human_plural %></h3>

<table>
  <thead>
    <tr>
      <th><%= Period.model_name.human %></th>
      <th><%= Assignment.human_attribute_name("evaluatee") %></th>
      <th><%= Assignment.human_attribute_name("evaluator") %></th>
      <th><%= Evaluation.human_attribute_name("value") %> </th>
      <th><%= Evaluation.human_attribute_name("comment") %> </th>
    </tr>
  </thead>

  <tbody>
    <% evaluations.each do |evaluation| %>
    <tr>
      <td class="<%= current_period_class(evaluation.assignment.period == @period) %>">
        <%= link_to(evaluation.assignment.period.name,
                    evaluation.assignment.period) %>
      </td>
      <td><%= evaluation.assignment.evaluatee.display_name %></td>
      <td><%= evaluation.assignment.evaluator.display_name %></td>
      <td><%= evaluation.value %></td>
      <td><%= render_markdown(evaluation.comment) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
