<%= form_with(model: period, local: true) do |form| %>
  <% if period.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(period.errors.count, "error") %> prohibited this period from being saved:</h2>

      <ul>
        <% period.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :start_on %>
    <%= form.date_select :start_on %>
  </div>

  <div class="field">
    <%= form.label :end_on %>
    <%= form.date_select :end_on %>
  </div>

  <div class="field">
    <%= form.label :standard %>
    <%= form.collection_select :standard_id,
                               Standard.order(name: :desc),
                              :id, :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
