<h1><%= t(".title", default: Period.model_name.human_plural) %></h1>

<table>
  <thead>
    <tr>
      <th><%= Period.human_attribute_name("name") %></th>
      <th><%= Period.human_attribute_name("start_on") %></th>
      <th><%= Period.human_attribute_name("end_on") %></th>
      <th><%= Period.human_attribute_name("standard") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @periods.each do |period| %>
      <tr>
        <td><%= period.name %></td>
        <td><%= period.start_on %></td>
        <td><%= period.end_on %></td>
        <td><%= link_to period.standard.name, period.standard %></td>
        <td><%= link_to t("actions.show"), period %></td>
        <td><%= link_to t("actions.edit"), edit_period_path(period) %></td>
        <td><%= link_to t("actions.destroy"),
                        period,
                        data: {
                          turbo_confirm: t("actions.confirmations.destroy"),
                          turbo_method: :delete,
                        } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t("actions.new", model: Period.model_name.human), new_period_path %>
