<h1><%= @period.name %></h1>

<div class="box">
  <div class="columns">
    <div class="column">
      <%= link_to t("actions.edit"), edit_period_path(@period) %>
    </div>
    <div class="column">
      <%= link_to t("actions.index"), periods_path %>
    </div>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th><%= Period.human_attribute_name("start_on") %></th>
      <th><%= Period.human_attribute_name("end_on") %></th>
      <th><%= Period.human_attribute_name("standard") %></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @period.start_on %></td>
      <td><%= @period.end_on %></td>
      <td><%= link_to @period.standard.name, @period.standard %></td>
    </tr>
  </tbody>
</table>

<h2><%= t("labels.summary") %></h2>
<table>
  <thead>
    <tr>
      <th></th>
      <% @evaluation_targets.each do |target| %>
        <th><%= link_to(target.evaluatee.display_name,
                        target.evaluation_report ||
                          new_evaluation_target_evaluation_report_path(target)) %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @summary_item_tags.each do |item_tag| %>
    <tr>
      <th><%= item_tag.name %></th>
      <% @evaluation_targets.each do |target| %>
        <td><%= @summary_values[[target.evaluatee_id, item_tag.id]] %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<h2><%= Evaluation.model_name.human %></h2>
<table>
  <thead>
    <tr>
      <th>
        <%= Assignment.human_attribute_name("evaluatee") %>
        \
        <%= Assignment.human_attribute_name("evaluator") %>
      </th>
      <% @period.evaluators.each do |evaluator| %>
        <th><%= evaluator.display_name %></th>
      <% end %>
      <th><%= FinalEvaluation.model_name.human %></th>
    </tr>
  </thead>
  <tbody>
    <% @evaluation_targets.each do |target| %>
    <tr>
      <th><%= target.evaluatee.display_name %></th>
      <% @period.evaluators.each do |evaluator| %>
        <%
          assignment = @assignments.find do |a|
            a.evaluation_target_id == target.id and
              a.evaluator_id == evaluator.id
          end
         %>
        <% if assignment %>
      <td><%= link_to(Evaluation.model_name.human,
                      assignment_evaluations_path(assignment)) %></td>
        <% else %>
      <td><%= Evaluation.model_name.human %></td>
        <% end %>
      <% end %>
      <td>
        <%= link_to(FinalEvaluation.model_name.human,
                    evaluation_target_final_evaluations_path(target)) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<h2><%= EvaluationTarget.model_name.human_plural %></h2>

<div class="box">
  <div class="columns">
    <div class="column">
      <%= link_to t("actions.index"), period_evaluation_targets_path(@period) %>
    </div>
  </div>
</div>

<%= render "events/index", events: @period.events %>
