<table>
  <thead>
    <tr>
      <th><%= Period.model_name.human %></th>
      <th><%= EvaluationReport.human_attribute_name("evaluatee") %></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>
        <%= link_to(@evaluation_report.period.name,
                    @evaluation_report.period) %>
      </td>
      <td><%= @evaluation_report.evaluatee.display_name %></td>
    </tr>
  </tbody>
</table>
