<h2><%= t("labels.summary") %></h2>

<table>
  <thead>
    <tr>
      <th scope="col"><%= t("labels.summary_item") %></th>
      <% @evaluation_targets.each do |target| %>
        <th scope="col"><%= link_to(target.period.name,
                                    target.evaluation_report) %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @objectives.each do |objective| %>
    <tr>
      <th scope="row"><%= objective.item_tag.name %></th>
      <% @evaluation_targets.each do |target| %>
        <% summary_values = @period_summary_values[target.period_id] || {} %>
        <% summary_value = summary_values[objective.item_tag.id] || 0.0 %>
      <td class="<%= current_period_class(target.period_id == @period.id) %>">
        <%= summary_value %>
      </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<% @objectives.each do |objective| %>
  <% final_evaluations =
       @grouped_final_evaluations[objective.item_tag_id] || [] %>
  <% previous_final_evaluations =
       @previous_grouped_final_evaluations[objective.item_tag_id] || [] %>
  <% n_goods, n_not_goods = final_evaluations.partition(&:good?).collect(&:size) %>
  <h3>
    <%= link_to(objective.item_tag.name, objective.item_tag) %>
    <span class="icon-text">
      <span>(</span>
      <span class="icon has-text-success">
        <i class="fas fa-check-square"></i>
      </span>
      <span>
        <%= n_goods %>
        /
        <%= final_evaluations.size %>
        :
      </span>
      <span class="icon has-text-info">
        <i class="fas fa-info-circle"></i>
      </span>
      <span>
        <%= "%.0f%%" % ((n_goods.to_f / final_evaluations.size) * 100) %>
        )
      </span>
      </span>
    </span>
  </h3>
  <table>
    <thead>
      <tr>
        <th><%= ItemGroup.model_name.human %></th>
        <th><%= Item.model_name.human %></th>
        <th><%= FinalEvaluation.human_attribute_name("value") %></th>
        <th><%= FinalEvaluation.human_attribute_name("comment") %></th>
      </tr>
    </thead>

    <tbody>
      <% final_evaluations.each do |final_evaluation| %>
        <% item = final_evaluation.item %>
        <% previous_final_evaluation = previous_final_evaluations[item.id] %>
        <tr>
          <td><%= link_to(item.item_group.name, item.item_group) %></td>
          <td><%= link_to("#{item.id}: #{item.name}", item) %></td>
          <td>
            <span class="icon-text">
              <span class="icon has-text-<%= final_evaluation.good? ? "success" : "warning" %>">
                <i class="fas fa-<%= final_evaluation.good? ? "check-square" : "exclamation-triangle" %>"></i>
              </span>
              <span>
                <% if previous_final_evaluation -%>
                  <%= link_to(previous_final_evaluation&.value, previous_final_evaluation) %>
                  &rarr;
                <% end -%>
                <%= link_to(final_evaluation.value, final_evaluation) %>
              </span>
            </span>
          </td>
          <td>
            <%= render_markdown(final_evaluation.comment) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
