<h1><%= EvaluationReport.model_name.human %></h1>

<div class="box">
  <div class="columns">
    <div class="column">
      <%= link_to t("actions.edit"),
                  edit_evaluation_report_path(@evaluation_report) %>
    </div>
  </div>
</div>

<div class="box">
  <table>
    <thead>
      <tr>
        <th><%= EvaluationReport.human_attribute_name("period") %></th>
        <th><%= EvaluationReport.human_attribute_name("evaluatee") %></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= link_to(@period.name, @period) %></td>
        <td><%= @evaluatee.display_name %></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="box">
  <h2><%= EvaluationReport.human_attribute_name("content") %></h2>
  <div class="evaluation-report-content">
    <%= render_markdown(@evaluation_report.content) %>
  </div>
</div>

<% if @previous_evaluation_target -%>
  <div class="box">
    <%= render "previous" %>
  </div>
<% end -%>

<div class="box">
  <%= render "summary" %>
</div>
