<h3><%= Event.model_name.human_plural %></h3>

<table>
  <thead>
    <tr>
      <th><%= Event.human_attribute_name("id") %></th>
      <th><%= Event.human_attribute_name("title") %></th>
      <th><%= Event.human_attribute_name("url") %></th>
      <th><%= Event.human_attribute_name("occurred_at") %></th>
      <th><%= Event.human_attribute_name("description") %></th>
      <th><%= Event.human_attribute_name("participants") %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% events.each do |event| %>
      <tr>
        <td><%= link_to(event.id, event) %></td>
        <td><%= event.title %></td>
        <td><%= link_to(event.url, event.url) %></td>
        <td><%= event.occurred_at %></td>
        <td><%= render_markdown(event.description) %></td>
        <td>
          <ul>
            <% event.users.each do |user| -%>
              <li><%= user.name %></li>
            <% end -%>
          </ul>
        </td>
        <td><%= link_to(t("actions.show"), event) %></td>
        <td><%= link_to(t("actions.edit"), edit_event_path(event)) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
