<h1><%= t(".title", default: t("actions.new", model: Event.model_name.human)) %></h1>

<%= render 'form', event: @event %>

<div class="box">
  <div class="columns">
    <div class="column">
      <%= link_to t("actions.back"), events_path %>
    </div>
  </div>
</div>

