<h1><%= @event.title %></h1>

<div class="box">
  <h2><%= Event.human_attribute_name("url") %></h2>
  <p>
    <%= link_to @event.url, @event.url %>
  </p>

  <h2><%= Event.human_attribute_name("occurred_at") %></h2>
  <p>
    <%= @event.occurred_at %>
  </p>

  <h2><%= Event.human_attribute_name("description") %></h2>
  <p>
    <%= render_markdown(@event.description) %>
  </p>

  <h2><%= Event.human_attribute_name("participants") %></h2>
  <ul>
    <% @event.users.each do |user| -%>
      <li><%= user.name %></li>
    <% end -%>
  </ul>
</div>

<div class="box">
  <div class="columns">
    <div class="column">
      <%= link_to t("actions.edit"), edit_event_path(@event) %>
    </div>
    <div class="column">
      <%= link_to t("actions.back"), events_path %>
    </div>
  </div>
</div>
