<h1><%= t(".title", default: ItemTagging.model_name.human_plural) %></h1>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Item tag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @item_taggings.each do |item_tagging| %>
      <tr>
        <td><%= item_tagging.item_id %></td>
        <td><%= item_tagging.item_tag_id %></td>
        <td><%= link_to t("actions.show"), item_tagging %></td>
        <td><%= link_to t("actions.edit"), edit_item_tagging_path(item_tagging) %></td>
        <td><%= link_to t("actions.destroy"),
                        item_tagging,
                        data: {
                          turbo_confirm: t("actions.confirmations.destroy"),
                          turbo_method: :delete,
                        } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t("actions.new", model: ItemTagging.model_name.human), new_item_tagging_path %>
