<p>
  <strong>Item:</strong>
  <%= @item_tagging.item_id %>
</p>

<p>
  <strong>Item tag:</strong>
  <%= @item_tagging.item_tag_id %>
</p>

<%= link_to t("actions.edit"), edit_item_tagging_path(@item_tagging) %> |
<%= link_to t("actions.back"), item_taggings_path %>
