<div class="box">
  <%= form_with(model: item_tag, local: true) do |form| %>
    <% if item_tag.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(item_tag.errors.count, "error") %> prohibited this item_tag from being saved:</h2>

        <ul>
          <% item_tag.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :name %>
      <div class="control">
        <%= form.text_field :name %>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <%= form.submit class: "is-primary" %>
      </div>
    </div>
  <% end %>
</div>
