<h1><%= t(".title", default: "Editing Item Tag") %></h1>

<div class="box">
  <div class="columns">
    <div class="column">
      <%= link_to t("actions.show"), @item_tag %>
    </div>
    <div class="column">
      <%= link_to t("actions.back"), item_tags_path %>
    </div>
  </div>
</div>

<%= render 'form', item_tag: @item_tag %>
