<div class="box">
  <%= form_with(model: item_group) do |form| %>
    <% if item_group.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(item_group.errors.count, "error") %> prohibited this item_group from being saved:</h2>

        <ul>
          <% item_group.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :name %>
      <div class="control">
        <%= form.text_field :name %>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <%= form.submit class: "is-primary" %>
      </div>
    </div>
  <% end %>
</div>
