<h1><%= t(".title", default: t("actions.new", model: ItemTag.model_name.human)) %></h1>

<div class="box">
  <div class="columns">
    <div class="column">
      <%= link_to t("actions.back"), item_groups_path %>
    </div>
  </div>
</div>

<%= render "form", item_group: @item_group %>
