@import "~bootstrap/scss/bootstrap";

#notice {
  @extend .alert;
  @extend .alert-info;
}

#alert {
  @extend .alert;
  @extend .alert-danger;
}

#error_explanation {
  @extend .alert;
  @extend .alert-danger;
}

table {
  @extend .table;
  @extend .table-striped;
  @extend .table-hover;

  thead {
    @extend .thead-light;
  }
}

nav {
  @extend .navbar;
  @extend .navbar-expand-lg;
  @extend .navbar-light;
  @extend .bg-light;

  a.top {
    @extend .navbar-brand;
  }

  #navbar-supported-content {
    @extend .collapse;
    @extend .navbar-collapse;

    ul {
      @extend .navbar-nav;
      @extend .mr-auto;

      li {
        @extend .nav-item;

        a {
          @extend .nav-link;
        }
      }
    }

    .sign-out-link {
      @extend .navbar-text;

      a {
        @extend .nav-link;
      }
    }

    form {
      @extend .form-inline;
      @extend .my-2;
      @extend .my-lg-0;

      input[type="search"] {
        @extend .form-control;
        @extend .mr-sm-2;
      }

      input[type="submit"] {
        @extend .btn;
        @extend .btn-outline-success;
        @extend .my-2;
        @extend .my-sm-0;
      }
    }
  }
}

.content {
  @extend .container-fluid;

  form {
    .field {
      @extend .form-group;

      input[type="text"],
      textarea {
        @extend .form-control;
      }

      input[type="range"],
      textarea {
        @extend .form-control-range;
      }

      textarea#evaluation_report_content {
        height: 30em;
      }
    }
  }

  table {
    td.current-period {
      @extend .table-primary
    }
  }
}
