<h1><%= t(".title", default: t("actions.new", model: FinalEvaluation.model_name.human)) %></h1>

<%= render 'form', final_evaluation: @final_evaluation %>

<%= link_to t("actions.back"), final_evaluations_path %>
