<div class="box">
  <%= form_with(model: item, local: true) do |form| %>
    <% if item.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

        <ul>
          <% item.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :name %>
      <div class="control">
        <%= form.text_field :name %>
      </div>
    </div>

    <div class="field">
      <%= form.label :reason %>
      <div class="control">
        <%= form.text_area :reason %>
      </div>
    </div>

    <div class="field">
      <%= form.label :example %>
      <div class="control">
        <%= form.text_area :example %>
      </div>
    </div>

    <div class="field">
      <%= form.label :note %>
      <div class="control">
        <%= form.text_area :note %>
      </div>
    </div>

    <div class="field">
      <%= form.label :note %>
      <div class="control">
        <%= form.select :item_group_id, ItemGroup.all.collect {|g| [g.name, g.id]} %>
      </div>
    </div>

    <div class="field">
      <%= form.label :item_tags %>

      <table>
        <thead>
          <tr>
            <th><%= ItemTag.human_attribute_name("name") %></th>
            <th><%= t("actions.select") %></th>
          </tr>
        </thead>

        <tbody>
          <%= form.fields_for(
                :item_taggings,
                item.available_item_taggings) do |item_tagging_fields| -%>
            <% item_tag = item_tagging_fields.object.item_tag -%>
            <tr>
              <td><%= item_tag.name %></td>
              <td>
                <%= item_tagging_fields.hidden_field(:item_id) %>
                <%= item_tagging_fields.hidden_field(:item_tag_id) %>
                <%= item_tagging_fields.check_box(
                      :_destroy,
                      {checked: item_tagging_fields.object.persisted?},
                      "0",
                      "1") %>
              </td>
            </tr>
          <% end -%>
        </tbody>
      </table>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <%= form.submit class: "is-primary" %>
      </div>
    </div>
  <% end %>
</div>
