<h3><%= local_assigns[:title] ? title : Item.model_name.human_plural %></h3>
<table>
  <thead>
    <tr>
      <th><%= Item.human_attribute_name("id") %></th>
      <th><%= Item.human_attribute_name("name") %></th>
      <th><%= Item.human_attribute_name("reason") %></th>
      <th><%= Item.human_attribute_name("example") %></th>
      <th><%= Item.human_attribute_name("note") %></th>
      <th><%= Item.human_attribute_name("item_group") %></th>
      <th><%= Item.human_attribute_name("item_tags") %></th>
      <th><%= Item.human_attribute_name("standards") %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% items.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td><%= item.name %></td>
        <td><%= render_markdown(item.reason) %></td>
        <td><%= render_markdown(item.example) %></td>
        <td><%= render_markdown(item.note) %></td>
        <td><%= link_to(item.item_group.name, item.item_group) %></td>
        <td>
          <ul>
            <% item.item_tags.each do |item_tag| -%>
            <li><%= link_to(item_tag.name, item_tag) %></li>
            <% end -%>
          </ul>
        </td>
        <td>
          <ul>
            <% item.standards.each do |standard| -%>
              <li><%= link_to(standard.name, standard) %></li>
            <% end -%>
          </ul>
        </td>
        <td><%= link_to t("actions.show"), item %></td>
        <td><%= link_to t("actions.edit"), edit_item_path(item) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Markdown</h3>
<pre>
<% items.each do |item| -%>
* <%= item.id %>: <%= item.name %>
  <% item.item_tags.each do |item_tag| -%>
  * <%= item_tag.name %>
  <% end -%>
<% end -%>
</pre>
