<h1><%= t(".title", default: Item.model_name.human_plural) %></h1>

<div class="box">
  <div class="columns">
    <div class="column">
      <%= link_to t("actions.new", model: Item.model_name.human), new_item_path %>
    </div>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th><%= Item.human_attribute_name("id") %></th>
      <th><%= Item.human_attribute_name("name") %></th>
      <th><%= Item.human_attribute_name("reason") %></th>
      <th><%= Item.human_attribute_name("example") %></th>
      <th><%= Item.human_attribute_name("note") %></th>
      <th><%= Item.human_attribute_name("item_group") %></th>
      <th><%= Item.human_attribute_name("item_tags") %></th>
      <th><%= Standard.model_name.human_plural %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td><%= item.name %></td>
        <td><%= render_markdown(item.reason) %></td>
        <td><%= render_markdown(item.example) %></td>
        <td><%= render_markdown(item.note) %></td>
        <td><%= link_to(item.item_group.name, item.item_group) %></td>
        <td>
          <ul>
            <% item.item_tags.each do |item_tag| -%>
              <li><%= link_to(item_tag.name, item_tag) %></li>
            <% end -%>
          </ul>
        </td>
        <td>
          <ul>
            <% item.standards.each do |standard| -%>
              <li><%= link_to(standard.name, standard) %></li>
            <% end -%>
          </ul>
        </td>
        <td><%= link_to t("actions.show"), item %></td>
        <td><%= link_to t("actions.edit"), edit_item_path(item) %></td>
        <td><%= link_to t("actions.destroy"),
                        item,
                        data: {
                          turbo_confirm: t("actions.confirmations.destroy"),
                          turbo_method: :delete,
                        } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="box">
  <div class="columns">
    <div class="column">
      <%= link_to t("actions.new", model: Item.model_name.human), new_item_path %>
    </div>
  </div>
</div>
