<h1><%= @item.id %>: <%= @item.name %></h1>

<div class="box">
  <div class="columns">
    <div class="column">
      <%= link_to t("actions.edit"), edit_item_path(@item) %>
    </div>
    <div class="column">
      <%= link_to t("actions.back"), items_path %>
    </div>
  </div>
</div>

<div class="box">
  <h2><%= Item.human_attribute_name("reason") %></h2>
  <div class="box"><%= render_markdown(@item.reason) %></div>

  <h2><%= Item.human_attribute_name("example") %></h2>
  <div class="box"><%= render_markdown(@item.example) %></div>

  <h2><%= Item.human_attribute_name("note") %></h2>
  <div class="box"><%= render_markdown(@item.note) %></div>

  <h2><%= Item.human_attribute_name("item_group") %></h2>
  <p><%= link_to(@item.item_group.name, @item.item_group) %></p>

  <h2><%= Item.human_attribute_name("item_tags") %></h2>
  <table>
    <thead>
      <tr>
        <th><%= ItemTag.human_attribute_name("name") %></th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @item.item_tags.each do |item_tag| %>
      <tr>
        <td><%= item_tag.name %></td>
        <td><%= link_to t("actions.show"), item_tag %></td>
        <td><%= link_to t("actions.edit"), edit_item_tag_path(item_tag) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
