@charset "utf-8";

// Bulma 1.0.0 recommends to use @use instead of @import but
// it seems that cssbundling-rails doesn't recognize @use...
@import "bulma/css/bulma";

$fa-font-path: "webfonts";
@import "@fortawesome/fontawesome-free/scss/fontawesome";

@import "@fortawesome/fontawesome-free/scss/brands";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/solid";

h1 {
  @extend .title;
}

h2 {
  @extend .subtitle;
}

table {
  @extend .table;
  @extend .is-bordered;
  @extend .is-striped;
  @extend .is-hoverable;
  @extend .is-fullwidth;

  td {
    @extend .is-multiline;
  }

  td.current-period {
    @extend .is-selected;
  }
}

textarea {
  @extend .textarea;
}

input {
  @extend .input;
}

input[type=submit] {
  @extend .button;
}

input[type=checkbox] {
  appearance: auto;
}

label {
  @extend .label;
}

nav.pagy {
  @extend .pagination;
  @extend .is-right;

  a {
    @extend .pagination-link;
  }

  a.gap {
    @extend .pagination-ellipsis;
  }

  a[aria-disabled=true] {
    @extend .is-disabled;
  }

  a[aria-label=Previous] {
    @extend .pagination-previous;
  }

  a[aria-current=page] {
    @extend .is-current;
  }

  a[aria-label=Next] {
    @extend .pagination-next;
  }
}

div.item-name,
div.item-reason,
div.item-example,
div.item-note,
div.item-group,
div.item-tags {
  @extend .block;
}
