<h1><%= t(".title", default: "Editing Standard") %></h1>

<div class="box">
  <div class="columns">
    <div class="column">
      <%= link_to t("actions.show"), @standard %>
    </div>
    <div class="column">
      <%= link_to t("actions.back"), standards_path %>
    </div>
  </div>
</div>

<div class="box">
  <%= render "form", standard: @standard %>
</div>

<div class="box">
  <div class="columns">
    <div class="column">
      <%= link_to t("actions.show"), @standard %>
    </div>
    <div class="column">
      <%= link_to t("actions.back"), standards_path %>
    </div>
  </div>
</div>
