<h1><%= t(".title", default: Standard.model_name.human_plural) %></h1>

<div class="box">
  <div class="columns">
    <div class="column">
      <%= link_to t("actions.new", model: Standard.model_name.human),
                  new_standard_path %>
    </div>
  </div>
</div>

<div class="box">
  <table>
    <thead>
      <tr>
        <th><%= Standard.human_attribute_name("name") %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @standards.each do |standard| %>
        <tr>
          <td><%= standard.name %></td>
          <td><%= link_to t("actions.show"), standard %></td>
          <td><%= link_to t("actions.edit"), edit_standard_path(standard) %></td>
          <td><%= link_to t("actions.destroy"),
                          standard,
                          data: {
                            turbo_confirm: t("actions.confirmations.destroy"),
                            turbo_method: :delete,
                          } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
