<h1><%= t(".title", default: t("actions.new", model: Standard.model_name.human)) %></h1>

<div class="box">
  <div class="columns">
    <div class="column">
      <%= link_to t("actions.back"), standards_path %>
    </div>
  </div>
</div>

<div class="box">
  <%= render 'form', standard: @standard %>
</div>

<div class="box">
  <div class="columns">
    <div class="column">
      <%= link_to t("actions.back"), standards_path %>
    </div>
  </div>
</div>

