<h1><%= @standard.name %></h1>

<div class="box">
  <div class="columns">
    <div class="column">
      <%= link_to t("actions.edit"), edit_standard_path(@standard) %>
    </div>
    <div class="column">
      <%= link_to t("actions.back"), standards_path %>
    </div>
  </div>
</div>

<div class="box">
  <h2><%= Standard.human_attribute_name("description") %></h2>
  <div>
    <%= render_markdown(@standard.description) %>
  </div>

  <%= render "items/index", items: @standard.items %>
</div>

<% if @previous_standard -%>
  <div class="box">
    <h2><%= t(".previous_standard") %></h2>
    <p><%= link_to(@previous_standard.name, @previous_standard) %></p>
    <%= render "items/index",
               items: @added_items,
               title: t(".added_items") %>
    <%= render "items/index",
               items: @deleted_items,
               title: t(".deleted_items") %>
  </div>
<% end -%>

<div class="box">
  <div class="columns">
    <div class="column">
      <%= link_to t("actions.edit"), edit_standard_path(@standard) %>
    </div>
    <div class="column">
      <%= link_to t("actions.back"), standards_path %>
    </div>
  </div>
</div>
