<p>
  <strong>Eメール:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>名前:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>管理者:</strong>
  <%= @user.admin? %>
</p>

<%= link_to t("actions.edit"), edit_admin_user_path(@user) %> |
<%= link_to t("actions.back"), admin_users_path %>
