<div class="box">
  <%= form_with(model: evaluation_target.persisted? ?
                         evaluation_target :
                         [@period, evaluation_target],
                local: true) do |form| %>
    <% if evaluation_target.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(evaluation_target.errors.count, "error") %> prohibited this evaluation target from being saved:</h2>

        <ul>
          <% evaluation_target.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :evaluatee %>
      <div class="control">
        <%= form.select :evaluatee_id,
                         @evaluatee_candidates.collect {|user| [user.display_name, user.id] } %>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <%= form.submit class: "is-primary" %>
      </div>
    </div>
  <% end %>
</div>
