<h1><%= t(".title", default: "Editing Standardization") %></h1>

<%= render 'form', standardization: @standardization %>

<%= link_to t("actions.show"), @standardization %> |
<%= link_to t("actions.back"), standardizations_path %>
