<p>
  <strong>Standard:</strong>
  <%= @standardization.standard_id %>
</p>

<p>
  <strong>Item:</strong>
  <%= @standardization.item_id %>
</p>

<%= link_to t("actions.edit"), edit_standardization_path(@standardization) %> |
<%= link_to t("actions.back"), standardizations_path %>
