<!DOCTYPE html>
<html data-theme="light">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= t("labels.active_evaluation_system") %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar">
      <div class="navbar-brand">
        <a class="navbar-item" href="<%= root_path %>">
          <%= t("labels.active_evaluation_system") %>
        </a>

        <a role="button"
           class="navbar-burger"
           aria-label="<%= t("actions.toggle_navigation") %>"
           aria-expanded="false"
           data-target="navbar-items">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbar-items" class="navbar-menu">
        <div class="navbar-start">
          <% {
               Period.model_name.human_plural => periods_path,
               Standard.model_name.human_plural => standards_path,
               Item.model_name.human_plural => items_path,
               ItemTag.model_name.human_plural => item_tags_path,
               ItemGroup.model_name.human_plural => item_groups_path,
               Event.model_name.human_plural => events_path,
             }.each do |label, path| -%>
          <%= link_to(label,
                      path,
                      class: "navbar-item #{current_page?(path) ? "is-active" : ""}") %>
          <% end -%>
        </div>
        <div class="navbar-end">
        <% if current_user -%>
          <% if current_user.admin? -%>
            <%= link_to(t("activerecord.plurals.users"),
                        admin_users_path,
                        class: "navbar-item") %>
          <% end -%>
          <div class="navbar-item has-dropdown is-hoverable">
            <div class="navbar-link">
              <%= EvaluationReport.model_name.human_plural %>
            </div>
            <div class="navbar-dropdown">
              <% current_user.
                   evaluation_reports.
                   order(created_at: :desc).
                   limit(6).
                   each_with_index do |report, i| -%>
                <% if i == 5 -%>
                  <hr class="navbar-divider">
                  <%= link_to(Period.model_name.human_plural,
                              periods_path,
                              class: "navbar-item") %>
                <% else -%>
                  <%= link_to(report.period.name,
                              report.period,
                              class: "navbar-item") %>
                <% end -%>
              <% end -%>
            </div>
          </div>
          <%= link_to(t("actions.sign_out"),
                      destroy_user_session_path,
                      data: {turbo_method: :delete},
                      class: "navbar-item sign-out-link") %>
          <%= form_tag("/", method: :get) do -%>
            <div class="field has-addons">
              <div class="control">
                <input type="search"
                       placeholder="<%= t("actions.search") %>"
                       aria-label="<%= t("actions.search") %>">
              </div>
              <div class="control">
                <%= submit_tag(t("actions.search"), class: "is-info") %>
              </div>
            </div>
          <% end -%>
        <% end -%>
        </div>
      </div>
    </nav>

    <section class="section">
      <div class="container">
        <% if notice %><p id="notice"><%= notice %></p><% end %>
        <% if alert %><p id="alert"><%= alert %></p><% end %>

        <div class="content">
          <%= yield %>
        </div>
      </div>
    </section>
  </body>
</html>
